body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e9ecef;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #dee2e6;
}


.nav-link:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


input:invalid,
textarea:invalid,
select:invalid {
    border: 1px solid red;
}


footer {
    background-color: #003973;
    color: white;
    text-align: center;
    padding: 20px;
}


.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.4rem;
}


button:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.3s;
}